body{
   width: 1440px;
  height: 1024px;
  list-style: none;
  position: relative;
  align-items: center;
  background: #F3F5FC;

}

input:focus{
  outline: none;

}
.botaoIniciar {
display:initial;
position: absolute;

padding: 24px;
gap: 8px;

width: 317px;
height: 105px;
left: 562px;
top: 394px;


background: #0A3871;
border-radius: 24px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;
color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 1;

}
.botaoCancelar{
  display: none;
  position: absolute;
  margin-left: 722px;
  margin-top: 450px;
  
flex-direction: column;
align-items: center;
padding: 24px;
gap: 8px;

width: 332px;
height: 67px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
color: #0A3871;
flex-grow: 1;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

}

.invisivel{
  display: none;
}

.botaoSalvarIniciar{

  display: none;
  position: absolute;
  margin-left: 376px;
  margin-top: 450px;
  padding: 24px;
  gap: 8px;
  
  width: 332px;
  height: 67px;
  
  
  background: #0A3871;
  border-radius: 24px;
  
  flex-direction: column;
  align-items: center;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #FFFFFF;
 
  
  }

  .botaoNovoJovo{

    display: none;
    position: absolute;
    margin-left: 376px;
    margin-top: 160px;
    padding: 24px;
    gap: 8px;
    
    width: 332px;
    height: 67px;
    
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    
    flex-direction: column;
    align-items: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    
    }
  
    .botaoDesistir{
      display: none;
      position: absolute;
      margin-left: 722px;
      margin-top: 160px;
      
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
    
    width: 332px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    color: #0A3871;
    flex-grow: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
    }

#oculto{

background-color: #F3F5FC;
border-style:none;

margin-top: 30px;
margin-left: 430px;
letter-spacing: 40px;
width: 40%;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.botaoAdicionarPalavra{

  padding: .50em 50em;
  display:initial;
  position: absolute;

 margin-top: 120px;

padding: 24px;
gap: 8px;

width: 317px;
height: 105px;
left: 562px;
top: 394px;

border: 1px solid #0A3871;
border-radius: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

align-items: center;
text-align: center;


color: #0A3871;


flex: none;
order: 0;
flex-grow: 1;
}

button:hover {
  transform: scale(1.03);
filter: brightness(1.2);
}

button:active {
/*background-color: #0A3871;*/
border: 5px solid #000000;
/*color: #0A3871;*/
}


footer a {
margin-top: 280px;
margin-left: 25px;
width: 100%;
color: #121219;;
text-decoration: none;
position: absolute;
width: 317px;
height: 105px;
left: 562px;
top: 394px;

transition: 500ms;
}

footer a:hover {
  text-decoration: underline;
  color: blue;
}

::placeholder {
  color: #0A3871;
}


.avisoDigitacao{
  display: none;
margin-left: 376px;
background-color:  #F3F5FC;
border-style:none;

border-color: #F3F5FC;
width: 413px;
height: 48px;
left: 376px;
top: 256px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
color: #0A3871;


}


.lateralEsquerda{
  float:left;
}

.logo{
  margin-top: 40px;
  margin-left: 84px;
}

.palavraSecreta{

  text-align: center; 
  margin-left:500px;
  margin-top: 300px;

}

.letraPalavraSecreta{

display:inline-block;
padding-inline: 30px;
margin:auto;
text-decoration: underline #0A3871;

text-align: center;

text-underline-offset: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 150%;


-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
  
   letter-spacing: 50px;
/*  color: #F3F5FC;*/
color: #000000;

}