.base{
    display: none;
    position: absolute;
    margin-top: -10px ;
    margin-left: 575px ;
} 
.astemaior{
    display: none;
    position: absolute;
    margin-top: -365px ;
    margin-left: 653px ;
}
.astemenor {
    display: none;
    position: absolute;
    margin-top: -365px ;
    margin-left: 653.67px ;
}
.corda{
    display: none;
    position: absolute;
    margin-top: -365px ;
    margin-left: 828px ;
}

.cabeca{
    display: none;
    position: absolute;
    margin-top: -320px ;
    margin-left: 800px ;
}

.tronco{
    display: none;
    position: absolute;
    margin-top: -260px ;
    margin-left: 828px ;
}   
  
.bracodireito{
    display: none;
    position: absolute;
    margin-top: -262px ;
    margin-left: 828px ;
}

.bracoesquerdo{
    display: none;
    position: absolute;
    margin-top: -262px ;
    margin-left: 795px ;
}
.pernadireita    {
    display: none;
    position: absolute;
    margin-top: -130px ;
    margin-left: 830px ;
}

.pernaesquerda{
    display: none;
    position: absolute;
    margin-top: -130px ;
    margin-left: 794px ;
}
