.base{
    position: absolute;
    margin-top: 305px ;
    margin-left: 540px ;
} 
.astemaior{
    position: absolute;
    margin-top: -50px ;
    margin-left: 653px ;
}
.astemenor {
    position: absolute;
    margin-top: -50px ;
    margin-left: 653.67px ;
}
.corda{
    position: absolute;
    margin-top: -50px ;
    margin-left: 828px ;
}

.cabeca{
    position: absolute;
    margin-top: -2px ;
    margin-left: 800px ;
}

.tronco{
    position: absolute;
    margin-top: 60px ;
    margin-left: 830px ;
}   
  
.bracodireito{
    position: absolute;
    margin-top: 60px ;
    margin-left: 831px ;
}

.bracoesquerdo{
    position: absolute;
    margin-top: 60px ;
    margin-left: 795px ;
}
.pernadireita    {
    position: absolute;
    margin-top: 190px ;
    margin-left: 831px ;
}

.pernaesquerda{
    position: absolute;
    margin-top: 190px ;
    margin-left: 795px ;
}
